.btn {
    cursor: pointer;
    border: white solid 1px;
    border-radius: 24px;
    width: fit-content;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25rem;
    position: relative;
    overflow: hidden;
    color: white;
    background: transparent;
}

.btn__ripple {
    background: white;
    border-radius: 100% 100% 0 0;
    transition: top 0.5s cubic-bezier(0.4, 0, 0, 1), 
                border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn__text {
    transition: color 0.3s ease;
    display: block;
    position: relative;
    z-index: 1;
}

.btn:hover .btn__ripple {
    top: 0;
    border-radius: 0;
}

.btn:hover .btn__text {
    color: black;
}